<nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                    <img src="https://beta.discordspark.com/icons/Spark-icon-no-bg.svg" width="32" height="32">
            <p style="margin-left: 4px;">Dashboard</p><span style="margin-left: 6px;" class="button is-static is-outlined is-danger">Beta</span>
                </a>
            <div data-target="navMenu" class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/" class="navbar-item"> Home </a>
            </div>
    </div>
</nav>
<section class="section hero is-light is-medium">
    <div class="container">
        <h1 class="title is-3"><span class="tag is-large is-danger"><%- code %></span> <%-error.shortDescription %></h1>
        <h1 class="subtitle is-5"><%- error.description %></h1>
    </div>
</section>
<section class="section">
    <div class="container">
        <%if (error.extra){ %>

            <%- error.extra%>

            <%}%>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
                var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                if ($navbarBurgers.length > 0) {
                    $navbarBurgers.forEach(function($el) {
                        $el.addEventListener('click', function() {
                            var target = $el.dataset.target;
                            var $target = document.getElementById(target);
                            $el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');
                        });
                    });
                }
            })
</script>
