<!DOCTYPE html>
<html>

<head>
    <title>Spark Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <%-\ include(content, this) %>



        <style>
            body {
                font-family: 'roboto' sans-serif;
            }
        </style>
</body>

</html>