<!DOCTYPE html>
<html>

<head>
    <title>Spark Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>
    <!--background-->
    <img id="background" style="background-image: url('<%-image.data_url%>')"/>
    <img id="background-fallback"/>
    <a href="<%-image.url%>" target="_blank" id="credit">
        <span class="icon"><i class="fas fa-camera"></i></span>
         Background by: <b><%-image.author%></b> (Unsplash)
    </a>
    <div id="container">
        <div id="icon">
            <img src="https://beta.discordspark.tk/icons/Spark-icon-no-bg.png">
        </div>
        <h1 class="title is-4">Spark Login</h1>
        <div id="spacer"></div>
        <div class="btns">
        <a id="btn-left" class="button is-outlined" href="/redirect/discord">Login with Discord</a>
        <a class="button is-outlined" href="/redirect/github">Login with GitHub</a>
        </div>
        <a href="https://discordspark.tk/" id="return-btn" class="button is-text">Go back to the homepage</a>
    </div>


</body>

</html>
